html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

/* slider css */
.slider-container {
  margin-top: 20px;
  text-align: center;
}

#userContainer {
  font-size: 18px;
  font-weight: bold;
}

#userSlider {
  width: 60%;
  margin-top: 10px;
}

.highlighted {
  border: 2px solid #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  background-color: #f8f9fa;
}

/* //lazy loading */
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 950px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  grid-gap: 1rem;
  overflow: hidden;
  border-radius: 10px;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

/* loader */
.loading {
  width: 6rem;
  height: 6rem;
  background-color: #e5e5e5;
  opacity: 0;
}

.loading.show {
  opacity: 1;
}

.container {
  text-align: center;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.54rem;
  height: 4rem;
}

/* navigation */

.parentContainer {
  text-align: center;
  font-size: 2.4rem;
}

.navigation {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1.7rem;
}

.navigation a {
  text-decoration: none;
  font-size: 2.5rem;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
}
